@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 62.5%; }

body {
  background: #383838;
  scroll-behavior: smooth; }

.wrapper {
  width: 85vw;
  margin: 30px auto; }

h1, h2 {
  color: #bfbfbf; }

h1 {
  line-height: 1;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
  margin: 0; }

h2 {
  padding-bottom: 10px;
  border-bottom: 5px solid #bfbfbf;
  line-height: 1;
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  margin: 0 0 30px 0; }
  h2::before {
    content: "."; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #bfbfbf; }

h4 {
  color: #fcce61;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

h5 {
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #bfbfbf;
  margin: 30px 0 10px; }

p {
  font-family: "Roboto", sans-serif;
  color: #bfbfbf;
  font-size: 2rem; }

img {
  display: block;
  max-width: 100%; }

.header-nav-button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  right: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }
  .header-nav-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcce61), color-stop(20%, #fcce61), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #fcce61), color-stop(60%, #fcce61), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #fcce61), to(#fcce61));
    background: -webkit-linear-gradient(top, #fcce61, #fcce61 20%, transparent 20%, transparent 40%, #fcce61 40%, #fcce61 60%, transparent 60%, transparent 80%, #fcce61 80%, #fcce61 100%);
    background: -o-linear-gradient(top, #fcce61, #fcce61 20%, transparent 20%, transparent 40%, #fcce61 40%, #fcce61 60%, transparent 60%, transparent 80%, #fcce61 80%, #fcce61 100%);
    background: linear-gradient(to bottom, #fcce61, #fcce61 20%, transparent 20%, transparent 40%, #fcce61 40%, #fcce61 60%, transparent 60%, transparent 80%, #fcce61 80%, #fcce61 100%);
    -webkit-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out; }
  .header-nav-button:after {
    opacity: 0;
    content: "×";
    color: #383838;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out; }
  .header-nav-button:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); }
  .header-nav-button:hover {
    opacity: 1; }
  .open .header-nav-button {
    opacity: 1; }
    .open .header-nav-button:before {
      opacity: 0;
      width: 0; }
    .open .header-nav-button:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
      transform: translate3d(0, 0, 0) rotate(360deg);
      -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
      transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
      -o-transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
      transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
      transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out; }

.header nav.header-main-nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }
  .header nav.header-main-nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(251, 190, 47, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0.04), translateY(9999px);
    -ms-transform: scale(0.04), translateY(9999px);
    transform: scale(0.04), translateY(9999px);
    overflow: hidden; }
  .open .header nav.header-main-nav {
    top: 0; }
    .open .header nav.header-main-nav:before {
      -webkit-animation: menu-animation 0.8s ease-out forwards;
      animation: menu-animation 0.8s ease-out forwards; }
  .header nav.header-main-nav ul li {
    font-size: 5rem;
    font-family: "Dosis", sans-serif;
    padding: 5px 20px; }
    .header nav.header-main-nav ul li a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: #383838; }
  .header nav.header-main-nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: #383838; }
    .header nav.header-main-nav ul.menu li {
      opacity: 0;
      text-align: center;
      -webkit-transform: translate3d(0, 36px, 0);
      transform: translate3d(0, 36px, 0); }
      .header nav.header-main-nav ul.menu li:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        left: auto;
        background-color: #383838;
        height: 100%;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.14s ease-out;
        -o-transition: width 0.14s ease-out;
        transition: width 0.14s ease-out;
        pointer-events: none; }
      .header nav.header-main-nav ul.menu li:after {
        pointer-events: none;
        opacity: 0;
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: #bfbfbf;
        overflow: hidden;
        -webkit-transform: translate(-24px, 6px);
        -ms-transform: translate(-24px, 6px);
        transform: translate(-24px, 6px);
        -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
        transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
        -o-transition: transform 0.1s ease-out, opacity 0.1s ease-out;
        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
        transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out; }
      .header nav.header-main-nav ul.menu li:hover:before {
        left: 0;
        right: auto;
        margin: auto;
        width: 100%; }
      .header nav.header-main-nav ul.menu li:hover:after {
        opacity: 1;
        padding: 0 20px;
        -webkit-transform: translate(0px, 6px);
        -ms-transform: translate(0px, 6px);
        transform: translate(0px, 6px);
        -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
        transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
        -o-transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
        transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
        transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out; }
      .open .header nav.header-main-nav ul.menu li {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out; }
        .open .header nav.header-main-nav ul.menu li:nth-child(1) {
          -webkit-transition-delay: 0.75s;
          -o-transition-delay: 0.75s;
          transition-delay: 0.75s; }
        .open .header nav.header-main-nav ul.menu li:nth-child(2) {
          -webkit-transition-delay: 0.85s;
          -o-transition-delay: 0.85s;
          transition-delay: 0.85s; }
        .open .header nav.header-main-nav ul.menu li:nth-child(3) {
          -webkit-transition-delay: 0.95s;
          -o-transition-delay: 0.95s;
          transition-delay: 0.95s; }
        .open .header nav.header-main-nav ul.menu li:nth-child(4) {
          -webkit-transition-delay: 1.05s;
          -o-transition-delay: 1.05s;
          transition-delay: 1.05s; }

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin-top: 0; }
  .header .header-container .header-left-container {
    margin-top: 15vh; }

.header span {
  display: inline-block;
  position: relative;
  margin-right: 5px; }
  .header span:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: -5; }

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%); }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out; }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0); }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px); }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04); }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; } }

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%); }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out; }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0); }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px); }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04); }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; } }

.flip:hover > h1 > span:nth-child(1):after,
.flip:focus > h1 > span:nth-child(1):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  transform: rotate(-21deg); }

.flip:hover > h1 > span:nth-child(1),
.flip:focus > h1 > span:nth-child(1) {
  color: #383838;
  -webkit-transition-delay: 110ms;
  -o-transition-delay: 110ms;
  transition-delay: 110ms; }

.flip:hover > h1 > span:nth-child(2):after,
.flip:focus > h1 > span:nth-child(2):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg); }

.flip:hover > h1 > span:nth-child(2),
.flip:focus > h1 > span:nth-child(2) {
  color: #383838;
  -webkit-transition-delay: 220ms;
  -o-transition-delay: 220ms;
  transition-delay: 220ms; }

.flip:hover > h1 > span:nth-child(3):after,
.flip:focus > h1 > span:nth-child(3):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.flip:hover > h1 > span:nth-child(3),
.flip:focus > h1 > span:nth-child(3) {
  color: #383838;
  -webkit-transition-delay: 330ms;
  -o-transition-delay: 330ms;
  transition-delay: 330ms; }

.flip:hover > h1 > span:nth-child(4):after,
.flip:focus > h1 > span:nth-child(4):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg); }

.flip:hover > h1 > span:nth-child(4),
.flip:focus > h1 > span:nth-child(4) {
  color: #383838;
  -webkit-transition-delay: 440ms;
  -o-transition-delay: 440ms;
  transition-delay: 440ms; }

.flip:hover > h1 > span:nth-child(5):after,
.flip:focus > h1 > span:nth-child(5):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

.flip:hover > h1 > span:nth-child(5),
.flip:focus > h1 > span:nth-child(5) {
  color: #383838;
  -webkit-transition-delay: 550ms;
  -o-transition-delay: 550ms;
  transition-delay: 550ms; }

.flip:hover > h1 > span:nth-child(6):after,
.flip:focus > h1 > span:nth-child(6):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg); }

.flip:hover > h1 > span:nth-child(6),
.flip:focus > h1 > span:nth-child(6) {
  color: #383838;
  -webkit-transition-delay: 660ms;
  -o-transition-delay: 660ms;
  transition-delay: 660ms; }

.flip:hover > h1 > span:nth-child(7):after,
.flip:focus > h1 > span:nth-child(7):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
  -webkit-transform: rotate(33deg);
  -ms-transform: rotate(33deg);
  transform: rotate(33deg); }

.flip:hover > h1 > span:nth-child(7),
.flip:focus > h1 > span:nth-child(7) {
  color: #383838;
  -webkit-transition-delay: 770ms;
  -o-transition-delay: 770ms;
  transition-delay: 770ms; }

.flip:hover > h1 > span:nth-child(8):after,
.flip:focus > h1 > span:nth-child(8):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
  -webkit-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg); }

.flip:hover > h1 > span:nth-child(8),
.flip:focus > h1 > span:nth-child(8) {
  color: #383838;
  -webkit-transition-delay: 880ms;
  -o-transition-delay: 880ms;
  transition-delay: 880ms; }

.flip:hover > h1 > span:nth-child(9):after,
.flip:focus > h1 > span:nth-child(9):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
  -webkit-transform: rotate(51deg);
  -ms-transform: rotate(51deg);
  transform: rotate(51deg); }

.flip:hover > h1 > span:nth-child(9),
.flip:focus > h1 > span:nth-child(9) {
  color: #383838;
  -webkit-transition-delay: 990ms;
  -o-transition-delay: 990ms;
  transition-delay: 990ms; }

.flip:hover > h1 > span:nth-child(10):after,
.flip:focus > h1 > span:nth-child(10):after {
  background: #fcce61;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.flip:hover > h1 > span:nth-child(10),
.flip:focus > h1 > span:nth-child(10) {
  color: #383838;
  -webkit-transition-delay: 1100ms;
  -o-transition-delay: 1100ms;
  transition-delay: 1100ms; }

#about p {
  line-height: 1.6; }

#about .img-container {
  -webkit-filter: drop-shadow(1px 1px 0 #fcce61) drop-shadow(2px 2px 0 #fcce61) drop-shadow(3px 3px 0 #fcce61) drop-shadow(4px 4px 0 #fcce61);
  filter: drop-shadow(1px 1px 0 #fcce61) drop-shadow(2px 2px 0 #fcce61) drop-shadow(3px 3px 0 #fcce61) drop-shadow(4px 4px 0 #fcce61); }

#about img {
  -webkit-clip-path: polygon(15% 0, 85% 0, 85% 60%, 100% 60%, 100% 100%, 0 100%, 0 15%, 15% 15%);
  clip-path: polygon(15% 0, 85% 0, 85% 60%, 100% 60%, 100% 100%, 0 100%, 0 15%, 15% 15%); }

.project-container {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .project-container h3 {
    font-weight: 700;
    font-size: 3rem; }
  .project-container-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .project-container-links {
    margin: 20px 0; }
    .project-container-links a {
      border: 2px solid #fcce61;
      font-size: 2rem;
      text-decoration: none;
      color: #fcce61;
      padding: 10px 15px; }
      .project-container-links a:first-child {
        margin-right: 20px; }
      .project-container-links a:hover {
        color: #383838;
        background: #fcce61; }
  .project-container-text {
    width: 95%;
    margin: 0 auto;
    color: #bfbfbf; }
    .project-container-text--center {
      text-align: center;
      font-weight: 700; }
    .project-container-text p {
      line-height: 1.6; }
  .project-container-img {
    margin-bottom: 20px;
    width: 95%;
    border: 1px solid #fcce61;
    -webkit-box-shadow: 1px 1px 0 #fcce61, 2px 2px 0 #fcce61, 3px 3px 0 #fcce61, 4px 4px 0 #fcce61, 5px 5px 0 #fcce61, 6px 6px 0 #fcce61, 7px 7px 0 #fcce61, 8px 8px 0 #fcce61;
    box-shadow: 1px 1px 0 #fcce61, 2px 2px 0 #fcce61, 3px 3px 0 #fcce61, 4px 4px 0 #fcce61, 5px 5px 0 #fcce61, 6px 6px 0 #fcce61, 7px 7px 0 #fcce61, 8px 8px 0 #fcce61; }
    .project-container-img img {
      -webkit-filter: grayscale(100%) brightness(120%);
      filter: grayscale(100%) brightness(120%); }
      .project-container-img img:hover, .project-container-img img:focus {
        -webkit-filter: none;
        filter: none; }

#skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  #skills ul li {
    width: calc(100% / 3);
    font-size: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%); }
    #skills ul li:nth-child(1), #skills ul li:nth-child(2), #skills ul li:nth-child(3) {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    #skills ul li:hover {
      -webkit-filter: none;
      filter: none; }
    #skills ul li:nth-child(4), #skills ul li:nth-child(5), #skills ul li:nth-child(6) {
      margin: 20px 0; }
    #skills ul li img {
      width: 60px;
      height: 60px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.contact-field-container {
  position: relative; }
  .contact-field-container label {
    font-size: 2rem;
    color: #bfbfbf;
    font-family: "Dosis", sans-serif;
    position: absolute;
    top: 15px;
    left: 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .contact-field-container input:focus + label,
  .contact-field-container textarea:focus + label {
    top: 5px;
    font-size: 1.6rem; }

.contact-email {
  width: 100%;
  border: 1px solid #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }
  .contact-email address {
    font-size: 2rem;
    font-family: "Dosis", sans-serif;
    margin: 0 0 30px 0;
    font-style: normal; }
    .contact-email address a {
      text-decoration: none;
      color: #bfbfbf; }

.contact-form {
  width: 100%; }
  .contact-form-field {
    padding: 25px 10px 10px 10px; }
  .contact-form-submit {
    padding: 10px; }
  .contact-form input {
    width: 100%;
    border: 1px solid #bfbfbf;
    background: #383838;
    color: #bfbfbf;
    margin-bottom: 10px;
    font-family: "Dosis", sans-serif;
    font-size: 2rem; }
  .contact-form input[type="submit"]:hover {
    color: #383838;
    background: #fcce61;
    border: 1px solid #383838; }
  .contact-form textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    background: #383838;
    resize: none;
    border: 1px solid #bfbfbf;
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    padding: 25px 10px 10px 10px;
    vertical-align: top;
    color: #bfbfbf; }
    .contact-form textarea::-webkit-input-placeholder {
      color: #bfbfbf; }
    .contact-form textarea:-ms-input-placeholder {
      color: #bfbfbf; }
    .contact-form textarea::-ms-input-placeholder {
      color: #bfbfbf; }
    .contact-form textarea::placeholder {
      color: #bfbfbf; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #footer .social-media-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #footer .social-media-nav ul li {
      font-size: 3rem;
      margin-right: 30px; }
      #footer .social-media-nav ul li:last-child {
        margin-right: 0; }
      #footer .social-media-nav ul li a {
        color: #bfbfbf; }
        #footer .social-media-nav ul li a:hover {
          color: #fcce61; }
  #footer p {
    text-align: center; }

@media (min-width: 330px) {
  h1 {
    width: 65vw; } }

@media (min-width: 430px) {
  h1 {
    width: 85vw; } }

@media (min-width: 540px) {
  #about .img-container {
    float: right;
    width: 50%;
    margin: 0 0 10px 20px; } }

@media (min-width: 600px) {
  #skills ul li {
    font-size: 8rem; }
    #skills ul li img {
      width: 80px;
      height: 80px; } }

@media (min-width: 768px) {
  h1 {
    font-size: 10rem; }
  h3 {
    font-size: 2.3rem; } }

@media (min-width: 930px) {
  p {
    font-size: 2.3rem; }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .about-container h4 {
      margin-top: 0; }
    .about-container .img-container {
      width: 15%; }
    .about-container .about-text {
      width: 85%;
      -ms-flex-item-align: center;
      align-self: center; }
  .project-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .project-container-img {
      width: 40%;
      margin-right: 50px; }
    .project-container-description {
      width: calc(60% - 50px);
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .project-container-text {
      margin-left: 0;
      margin-right: 0; }
    .project-container-text--center {
      text-align: left; }
    .project-container:nth-child(odd) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .contact-container {
    margin: 0 auto;
    width: 60%; } }
