html {
    font-size: 62.5%
}

body {
    background: $background-color;
}

.wrapper {
    width: 85vw;
    // padding-left: 20px;
    // padding-right: 20px;
    margin: 30px auto;
    // padding: 30px 0;
}

h1, h2 {
    color: $main-color;
}

h1 {
    line-height: 1;
    font-family: $main-font;
    text-transform: uppercase;
    text-align: center;
    font-size: $main-heading-font-size;
    margin: 0;
}

h2 {
    line-height: 1;
    font-family: $main-font;
    text-transform: uppercase;
    font-size: $sub-heading-font-size;
    margin: 0 0 30px 0;

    &::before {
        content: ".";
    }
}

h3 {
    font-family: $sub-font;
    font-size: $h3-heading-font-size;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: $main-color;
}

h4 {
    font-family: $sub-font;
    font-size: $h4-heading-font-size;
    color: $main-color;
}

h5 {
    font-family: $main-font;
    font-size: $h5-heading-font-size;
    text-transform: uppercase;
    color: $main-color;
    margin: 30px 0 10px;
}

p {
    font-family: $sub-font;
    color: $main-color;
    font-size: $paragraph-font-size;
}


img {
    display: block;
    max-width: 100%;
}