@media (min-width: 330px) {
    h1 {
        width: 65vw;
    }
}

@media (min-width: 430px) {
    h1 {
        width: 85vw;
    }
}

@media (min-width: 540px) {
    #about {
        .img-container {
            float: right;
            width: 50%;
            margin: 0 0 10px 20px;
        }
    }
}

@media (min-width: 600px) {
    #skills {
        ul li {
            font-size: 8rem;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}

@media (min-width: 768px) {

    .header nav.header-main-nav ul li {
        font-size: 6rem;
    }
    h1 {
        font-size: 10rem;
    }

    h3 {
        font-size: 2.3rem;
    }
}

@media (min-width: 930px) {

    // p {
    //     font-size: 2.3rem;
    // }

    #about {
        .img-container {
            width: calc(100% / 3);
        }
    }

    .about-container {
        display: flex;
        flex-direction: row-reverse;

        h4 {
            margin-top: 0;
        }

        .about-text {
            width: 85%;
            align-self: center;
        }
    }

    .project-container {
        flex-direction: row;

        &-img {
            width: 40%;
            margin-right: 50px;
        }

        &-description {
            width: calc(60% - 50px);
            align-items: flex-start;
        }

        &-text {
            margin-left: 0;
            margin-right: 0;
        }

        &-text--center {
            text-align: left;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    
    .contact-container {
        margin: 0 auto;
        width: 60%;
    }
}