$background-color: #383838;
$main-color: #bfbfbf;
$main-font: 'Dosis', sans-serif;
$sub-font: 'Roboto', sans-serif;
$logo-font: 'Norican', cursive;
$main-heading-font-size: 8rem;
$sub-heading-font-size: 4rem;
$h3-heading-font-size: 2rem;
$h4-heading-font-size: 2.5rem;
$paragraph-font-size: 2rem;
$skills-logo-size: 6rem;
